{% extends "base.html" %} {% block title %}Customer Home{% endblock %} {% block
navContent %} {% include "Common/navbar_content.html" %} {% endblock navContent
%} {% block body %}
{% include "Customer/sub_menu.html" %}
<h3 class="form-heading">Submit a request
    <img src="static\lordIcons\wired-flat-245-edit-document.gif" alt="Avatar" class="w3-margin-right"
        style="width: 40px" />
    <sup><i class="fa-regular fa-circle-question" onclick="location.href='/infoOfHowToSubmitRequest'"
            title="info of how to submit request"></i></sup>
</h3>
{% endblock body %} {% block card_content %}

{% include "Customer/RequestForm.html" %}
{% endblock card_content%}