<div id="block_container">
    <center>

  <button class="w3-bar-item  w3-small-padding btnLink w3-panel w3-bottombar " id="myLink1">
    <a href="/request_form" class="w3-bar-item w3-round" > Submit request </a>
  </button>
  <button class="w3-bar-item  w3-small-padding btnLink w3-panel w3-bottombar " id="myLink">
    <a href="/my_requests" class="w3-bar-item w3-round" > All Requests </a>
  </button>

  <button class="w3-bar-item  w3-small-padding btnLink w3-panel w3-bottombar " id="myLink2">
<a href="/customer_orders?email={{session['email']}}" class="w3-bar-item w3-round">Orders</a>
</button>

    </center>
    </div>
