{% extends 'base.html' %} {% block title %} Forgot Password {% endblock title %}
{% block navContent %} {% include 'Common/navbar_without_login.html' %} {%
endblock navContent %} {% block body %} {% include "Common/flashMsg.html" %}
<h3 class="form-heading">Forgot Password</h3>
{% endblock body %} {% block card_content %}
<form method="POST" action="/forgotpassword">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

  <p>Please enter your email address to reset your password.</p>
  <label
    for="email"
    class="headings required"
    style="display: block; text-align: left"
    >Email</label
  >
  <input type="email" class="w3-input" id="email" name="email" required /><br />
  <button type="submit" class="w3-btn w3-green w3-round">Reset Password</button>
</form>
{% endblock card_content%}
