<div  class="w3-right w3-hide-small">

<a href="/vendors/createaccount" style="padding-top: 16px;" class="w3-bar-item">Register as a vendor</a>
<a href="/customers/createaccount" style="padding-top: 16px;" class="w3-bar-item">Register as a customer</a>
<a href="/login"class="w3-bar-item"><button class="w3-btn w3-medium w3-green w3-round" >Login</button></a>
  </div>

<a href="javascript:void(0)" class="w3-bar-item w3-right w3-hide-large w3-hide-medium"
  onclick="navItem()" id="barsIcon">&#9776;</a>
<div id="navItem" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium" style="padding-bottom: 10px;">  
  <a href="/vendors/createaccount" class=" w3-btn w3-bar-item">Register as a vendor</a>
  <a href="/customers/createaccount" class="w3-bar-item">Register as a customer</a>
  <a href="/login"style="padding:16px 0px 0px 16px;"><button class="w3-btn w3-medium w3-green w3-round" >Login</button></a>
  
</div>