<div id="block_container">
  <center>

    <button class="w3-bar-item  w3-small-padding btnLink w3-panel w3-bottombar w3-border-grey" id="proLink">
      <a href="/Common/profilesettings" class="w3-bar-item w3-round"> Profile </a>
    </button>
    <button class="w3-bar-item  w3-small-padding btnLink w3-panel w3-bottombar w3-border-grey" id="proLink1">
      <a href="/Common/securitysettings" class="w3-bar-item w3-round"> Security </a>
    </button>

    <button class="w3-bar-item  w3-small-padding btnLink w3-panel w3-bottombar w3-border-grey" id="proLink2">
      <a href="/Common/subscriptionsettings" class="w3-bar-item w3-round">Subscription</a>
    </button>

    <button class="w3-bar-item  w3-small-padding btnLink w3-panel w3-bottombar w3-border-grey" id="proLink3">
      <a href="/transaction-history" class="w3-bar-item w3-round">Transaction History</a>
    </button>

  </center>
</div>